___

Mr. Yogesh P Murumkar (Mob. 9657080906)

https://www.youtube.com/c/yogeshmurumkar
___
# Python Course Exercises 1

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners.

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [3]:
s='Hi there yogesh!'

In [4]:
s.split()

['Hi', 'there', 'yogesh!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
'The diameter of {} is {} kilometer'.format(planet,diameter)

'The diameter of Earth is 12742 kilometer'

** Given this nested list, use indexing to grab the word "hello" **

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [11]:
type(lst)

list

In [12]:
lst[3]

[5, [100, 200, ['hello']], 23, 11]

In [14]:
lst[3][1]

[100, 200, ['hello']]

In [15]:
lst[3][1][2]

['hello']

In [16]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [18]:
type(d)

dict

In [19]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [20]:
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [21]:
d['k1'][3]['tricky']

['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]

In [22]:
d['k1'][3]['tricky'][3]

{'target': [1, 2, 3, 'hello']}

In [23]:
d['k1'][3]['tricky'][3]['target']

[1, 2, 3, 'hello']

In [24]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [23]:
# Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [26]:
def splitfunc(s):
    temp=s.split('@')
    return temp[1]

In [27]:
splitfunc('dhavalesr@gmail.com')

'gmail.com'

In [28]:
'dhavalesr@gmail.com'.split('@')[1]

'gmail.com'

In [30]:
def my_fun2(email):
    return email.split('@')[-1]

In [31]:
my_fun2('abc@yahoo.co.in')

'yahoo.co.in'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [34]:
def find_dog(s):
    if 'dog' in s:
        return True
    else:
        return False

In [28]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [35]:
def ispresent(a):
    s=a.split(" ")
    if 'dog' in s:
        return True
    else:
        return False

In [37]:
ispresent('Is there a dog here?')

True

In [31]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [38]:
seq = ['soup','dog','salad','cat','great']

In [39]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [40]:
type(seq)

list

In [41]:
lambda1=lambda v:v[0]!='s'

In [42]:
list (filter(lambda1,seq))

['dog', 'cat', 'great']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [48]:
def caught_speeding(speed, is_birthday):
    pass

In [51]:
caught_speeding(67,True)
a=lambda x:len(x)>3
list(filter(a,seq))

['soup', 'salad', 'great']

In [43]:
caught_speeding(81,False)

'Big Ticket'

In [52]:
list(filter(lambda v:len(v)>3,seq))

['soup', 'salad', 'great']

In [ ]:
Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->5678

In [53]:
s=input('Enter the user input')
n=''
a=[0,1,2,3,4,5,6,7,8,9]
if s[0]=='-':
    n=n+s[0]
for c in s:
    if c in str(a):
        n=n+c
print(n)

Enter the user input2363fhksjkd5646
23635646

In [54]:
s=input("Enter the input")
n=""
a=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    n=n+s[0]
for c in s:
    if c in str(a):
        n=n+c
print(n)

Enter the input67-fdd56
6756

In [ ]:
Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [21]:
n1=input("Enter the number")
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while str(n3)!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print ("number is:",n3)
    print ("reverse is:",n3[::-1])
print ('Palindrome is:',n3)

Enter the number465
number is: 10230
reverse is: 03201
number is: 13431
reverse is: 13431
Palindrome is: 13431

In [15]:
n1

'88'

In [16]:
n2

'88'

In [17]:
n3

'8888'

In [ ]:
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth di7git is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [21]:
def find_five_digit():
    v=input("Enter a five digit number")
    su=int(v[0])+int(v[1])+int(v[2])+int(v[3])+int(v[4])
    print(su)
    first_digit=int(v[0])
    d=int(v[0])-int(v[1])
    print(type(d))
    sum_three=int(v[2])+int(v[3])+int(v[4])
    print(sum_three)
    if su==19 and sum_three==first_digit:
        print("Hello")
        if int(v[0])-int(v[1])==2 and int(v[1])-int(v[2])==2 and int(v[2])-int(v[3])==2 and int(v[4])-int(v[3])==2: 
            print("Hello")
            print(v)
    else:
        print('no not follow condition')

        
find_five_digit()
            
    #and  and  and :

Enter a five digit number78945
33
<class 'int'>
18
no not follow condition

In [1]:
v=input("Enter a five digit number")
sum=int(v[0])+int(v[1])+int(v[2])+int(v[3])+int(v[4])
print(sum)
sum_three=int(v[2])+int(v[3])+int(v[4])
print(sum_three)

Enter a five digit number75313
19
7

# Great job!